.wishlist {
  border: 3px solid black;
  /* position: absolute; */
  /* right: 100px; */
  /* width: 400px; */
  height: 800px;
  color: blue;
  padding: 20px 10px;
}

.wishlistItem {
  border: 1px solid black;
  width: 100%;
  margin-bottom: 20px;
  text-align: center; 
}

.add-button {
  background-color: transparent;
  border: transparent;
}

/* Wishlist by tabs */
.col-4 {
  background: whitesmoke;
  border-radius: 6px;
  font-family: 'Noto Serif', serif;
}

.AllPlaceItem {
  margin-left: 2px;
  margin-bottom: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
}
 
.schedule-dropdown {
  width: 250px;
  height: 50px;
  margin-right: 40px;
  background: white;
  border-radius: 6px;

}
.schedule-drop{
  width: 170px;
  height: 40px;
  
  margin-right: 40px;
  background: white;
  border-radius: 6px;
}

/* .add-button {
  /* background-color: transparent; */
  /* border: transparent; */

  /* outline: none; */
  /* width:35px;
  height: 10px; */
/* } */ */

/* .delete-button{
  background-color: transparent;
  outline: none;
  border: transparent;
  width:20px;


} */



.scroll-foundPlace{
  height: 640px;
  overflow: auto;
  /* border-bottom: 1px solid gray; */
}

.scroll-all{
  height: 640px;
  overflow: auto;
}
.scroll-result{
  height: 640px;
  overflow: auto;
}
.scroll-schedule{
  height: 640px;
  overflow: auto;
}
.scroll-foundPlace{
  height: 640px;
  overflow: auto;
}

.combine-two-search-bar {
  display: flex;
}

.city-page-search-bar {
  width: 1800px;
}

.left-half-city-search {
  width: 58%;
}

.search-for-place {
  display: flex;
  width: 1600px;
  margin-left: -60px;
  margin-bottom: 10px;
}

.cityPlaceCard {
  font-family: 'Noto Serif', serif;
  /* font-family: 'Quicksand', sans-serif; */
  border: 3px solid white;
  /* margin-top: 100px; */
  background: white;
  opacity: 0.9;
  width: 100%;
  font-size: 1.4rem;
  /* margin-left: 11%; */
  margin-bottom: 10px;
  border-radius: 30px;

}
 
.scheduleListParent {
  padding-left: 0px !important;
  height:700px;
}

.scheduleList {
  padding-left: 10px;
  border-bottom: 1px solid gray;
}

.SchedulePlaceItem{
  position: 'absolute';
  height:'100%';
  width: '100%';
  border-bottom: 1px solid gray;


}


.img-all{
  /* padding-top:2px; */
  width: 100%;
  height: 130px;
  /* padding: 10px; */
  border-radius: 5px;
}
.name{
  font-size: 20px;
  color:black;
}
.address{
  font-size: 15px;
}

.example_g {
  color: #494949 !important;
  font-size: 13px;
  text-transform: uppercase;
  background: #ffffff;
  margin-left: 15px;
  /* padding: 10px; */
  border: 2px solid #494949 !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  font-family: 'Playfair Display SC', serif;
  margin: 10px;
}

.example_g:hover {
  color: #2a7ae2 !important;
  border-radius: 30px;
  border-color: #2a7ae2 !important;
  transition: all 0.3s ease 0s;
}

/* .wishlist-tabs {
  margin: 10px;
  border-bottom: 1px solid #404040
}

#wishlist-tab {
  width: 20px;
  border-top: solid #404040;
  border-left: solid #404040;
  border-right: solid #404040;
  font-size: 10px;
} */

/* .startingLocation{
  font-size: 25px;
    color: black;
} */
/* .start-row {
  font-size: 25px;
    color: black;
} */
.form-control{
  font-size: 20px;
    color: black;
}
.steps{
  color:black;
  font-size: 15px;
}


.city-title {
  color: white;
  /* font-family: 'Noto Serif', serif; */
  font-family: 'Playfair Display SC', serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
}


