.search-page {
  color: white !important;
  padding-top: 200px;
  padding-left: 150px;
  font-family: 'Playfair Display SC', serif;
  
}

.form-row {
  height: 70px;
  font-family: 'Playfair Display SC', serif;
  padding-top: 30px;
  margin: 0 70px 100px 70px;
}

.placeCard {
  font-family: 'Noto Serif', serif;
  /* font-family: 'Quicksand', sans-serif; */
  border: 3px solid white;
  /* margin-top: 100px; */
  background: white;
  opacity: 0.9;
  width: 60%;
  font-size: 1.4rem;
  margin-left: 11%;
  margin-bottom: 10px;
  border-radius: 30px;
}
.scoll-placeCard{
  height: 350px;
  overflow: scroll;
}

.placeImage {
  width: 300px;
  max-height: 200px;
  padding: 10px;
  border-radius: 30px;
}

.placeCard:hover {
  /* Clip-path spanning the entire box so it's no longer hiding the full-width border. */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.wishlist-dropdown {
  border-radius: 10px;
  outline: none;
}

.example_d {
  color: #494949 !important;
  font-size: 18px;
  text-transform: uppercase;
  background: #ffffff;
  margin-left: 15px;
  padding: 10px;
  border: 3px solid #494949 !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  font-family: 'Playfair Display SC', serif;
  margin: 10px;
}

.example_d:hover {
  color: #2a7ae2 !important;
  border-radius: 50px;
  border-color: #2a7ae2 !important;
  transition: all 0.3s ease 0s;
}

.example_f {
  color: #494949 !important;
  font-size: 18px;
  text-transform: uppercase;
  background: #ffffff;
  margin-left: 15px;
  padding: 10px;
  border: 3px solid #494949 !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  font-family: 'Playfair Display SC', serif;
  margin: 10px;
}

.example_f:hover {
  color: red!important;
  border-radius: 50px;
  border-color: red !important;
  transition: all 0.3s ease 0s;
}