body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: sans-serif;
  
  background-repeat: no-repeat;
  background-size: cover;
  
  background: url("https://stmed.net/sites/default/files/the-twelve-apostles-wallpapers-28071-6824020.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

body::after {
  content: "";
  background: black;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -2;   
}